body{
    background:#efefef;
    margin: 0;
}
a{
    color:inherit;
    /*默认继承父级颜色*/
    text-decoration: none;
    /*去除下划线*/
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 0;
    border:none;
    border-top:1px solid #DEDEDE;
}
ul,ol{
    list-style: none;/*取消样式*/
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both
    /*s所有子元素浮动，都要在父元素添加clearfix 不然会出现bug*/
}
.topNavBar{
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    优化：可以写成一句话控制像素上下左右
      格式：上 右 下 左
    */
    padding: 20px 0px 20px 0px;
    position: fixed;/*背景图包含导航栏和log*/
    top: 0;
    left: 0;
    width: 100%;/*不到万不得已不要写宽度100%，高度也是*/
}
.topNavBar-inner{
    padding: 0px 16px 0px 16px;
}
.topNavBar nav{
    padding-top: 5px;
    padding-bottom: 2px;  
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black"; 
    /*字体属性*/ 
    padding-top: 3px;
    padding-bottom: 4px;

}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #E6686A;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.banner{
    height: 515px;
    background-image:url(./img/BeiJingTu.jpg);
    background-position: center center; /*图片居中*/
    /*background-size: cover; 图片自适应*/
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5)
    /*背景遮罩*/
}
.userCard{
    /* border: 1px solid red; */
    max-width: 940px;/*设置最大宽度，可以自适应*/
    margin-left:auto;
    margin-right: auto;/*div居中设置*/ 
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);/*边框阴影*/
    
}
.userCard .welcome{
    background:#E6686A;
    color: white;
    display: inline-block;/*内联元素不接受宽高，要使用display改变元素*/
    padding: 4px 16px;
    /* width: 70px; */
    /* height: 29px; */
    line-height: 22px;
    /* text-align: center; */
    position: relative; 
    /*解决hello三角形问题：绝对定位--在父元素写position: relative*/
    margin-bottom: 10px;
}
.userCard .welcome .triangle{
    display: block;/*默认span改变成div*/
    border:10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute; 
    /*解决hello三角形问题：绝对定位--在子元素写position: absolute*/
    left: 4px;
    top: 100%;
    /*在谷歌可以输入css tricks shape 用来查找css画的各种形状代码*/
}
.userCard .picture{
    float: left;
    margin-right: 65px;
}
.userCard .text{
    float: left;
    /* margin-left: 65px; */
    width: 475px;

}
.userCard .text h1{
    margin-top: 18px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard dl dt,.userCard dl dd{
    float: left;
    /* width: 50%; */
    padding: 5px 0;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold; /*字体 加粗*/
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7; 
}
.userCard .tubiao > footer.media{
    background: #E6686A;
    text-align: center;
}
.userCard .tubiao > footer.media > a{
    /* border: 1px solid black; */
    display: inline-block; /*完全包住标签*/
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%; /*标签方形变圆*/ 
    margin: 16px;
}
.userCard .tubiao > footer.media > a:hover{
    /*hover 背景色*/
    background: #CF5D5F;
}
/* .userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 16px;
    vertical-align: top;
} */
.userCard .tubiao img{
    width: 30px;
    height: 30px;
    /* fill: white; */
    /* margin: 0 16px; */
    vertical-align: top;
}
body > main{
    margin-top: -340px;
}
body > main .downloadResume-wrapper{
    text-align: center; /*下载居中显示*/
}
body > main .downloadResume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    background: #efefef;
    display: inline-block;
    border-radius: 5px; /*边框圆形弧度*/
    color: #3d4451;
    font-weight: bold; /*字体加粗*/
    margin: 32px 0;
}
/*鼠标移动到按钮上显示阴影效果*/
body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);/*边框阴影*/
    transition: box-shadow 0.2s;/*阴影过度*/
}
.selfIntroduction{
    max-width: 940px;/*设置最大宽度，可以自适应*/
    margin-left:auto;
    margin-right: auto;
    text-align: center; /*居中设置*/ 
    font-family: "楷体";
    line-height: 1.8; /*行间距*/
    font-size: 20px; 
}
section.skills,section.PortFolio{
    max-width: 940px;/*设置最大宽度，可以自适应*/
    margin-left:auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills >h2,section.PortFolio >h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: center;
    line-height: 1.1;
    padding-right: 40px;
}
.DescriptionList{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);/*边框阴影*/
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills >ol >li{
    float: left;
    width: 47%;
    box-sizing: border-box; /*盒模型 处理技能条空隙问题*/
    /* padding-right: 40px; */
}
section.skills >ol >li:nth-child(even){
    float: right; /*进度条偶数的左浮动*/
}
section.skills .progressBar{
    height: 5px;
    /* border: 1px solid #E6686A; */
    background: #FAE1E1;
    border-radius: 2px; 
    margin: 4px 0 40px;
}
section.skills .progressBar > .progress{
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}
section.PortFolio{
    text-align: center;
    margin-bottom: 100px; /*最下方留出100px间隙*/
} 
section.PortFolio >nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}
section.PortFolio >nav >ol{
    /* border: 1px solid red; */
    margin:  0 auto;
    display: inline-block;
    vertical-align: top; /*加了inline-block 就必须要加top*/
}
section.PortFolio >nav >ol >li{
    float: left; /*左浮*/
    margin-left: 40px;
    cursor: pointer; /*鼠标移动到"所有,框架,.." 字体上会变成手型*/
}
section.PortFolio >nav >ol >li:first-child{
    margin-left: 0; /*去除作品集标题左边空隙使其能正确居中可以使用nth-child(1)或者first-child里面属性margin-left: 0*/
}
section.PortFolio >nav .bar{
    /* border: 1px solid red; */
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px; /*给出下面空隙*/
    border-radius: 2px; /*进度条圆角*/
}
section.PortFolio >nav .bar-inner{
    height: 100%;
    background: #E6686A;
    /* width: 30%; */
    border-radius: 2px;
    /* margin-left: 140px; */
    transition: all 0.3s; /*鼠标点击进度条会有0.3秒过度*/
}
    /*状态机*/
section.PortFolio >nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 70px;
}
section.PortFolio >nav .bar.state-2 .bar-inner{
    margin-left: 70px;
    width: 75px;
}
section.PortFolio >nav .bar.state-3 .bar-inner{
    margin-left: 150px;
    width: 96px;
}
/*使用绝对定位处理最后作品图片*/
section.PortFolio .works{
    position: relative;
}
section.PortFolio .works > .big,section.PortFolio .works > .small{
    position: absolute;
}