body{
    background:black;
    margin: 0;
}
a{
    color:inherit;
    /*默认继承父级颜色*/
    text-decoration: none;
    /*去除下划线*/
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 0;
    border:none;
    border-top:1px solid #DEDEDE;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both
    /*s所有子元素浮动，都要在父元素添加clearfix 不然会出现bug*/
}
.topNavBar{
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    优化：可以写成一句话控制像素上下左右
      格式：上 右 下 左
    */
    padding: 20px 0px 20px 0px;
    position: fixed;/*背景图包含导航栏和log*/
    top: 0;
    left: 0;
    width: 100%;/*不到万不得已不要写宽度100%，高度也是*/
}
.topNavBar-inner{
    padding: 0px 16px 0px 16px;
}
.topNavBar nav{
    padding-top: 5px;
    padding-bottom: 2px;  
}
.topNavBar nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #878787;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black"; 
    /*字体属性*/ 
    padding-top: 3px;
    padding-bottom: 4px;

}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #E6686A;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.banner{
    height: 515px;
    background-image:url(./img/BeiJingTu.jpg);
    background-position: center center; /*图片居中*/
    /*background-size: cover; 图片自适应*/
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5)
    /*背景遮罩*/
}
.userCard{
    /* border: 1px solid red; */
    max-width: 940px;/*设置最大宽度，可以自适应*/
    margin-left:auto;
    margin-right: auto;/*div居中设置*/ 
    background-color: #ffffff;
}
.userCard .welcome{
    background:#E6686A;
    color: white;
    display: inline-block;/*内联元素不接受宽高，要使用display改变元素*/
    padding: 4px 16px;
    /* width: 70px; */
    /* height: 29px; */
    line-height: 22px;
    /* text-align: center; */
    position: relative; 
    /*解决hello三角形问题：绝对定位--在父元素写position: relative*/
    margin-bottom: 10px;
}
.userCard .welcome .triangle{
    display: block;/*默认span改变成div*/
    border:10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute; 
    /*解决hello三角形问题：绝对定位--在子元素写position: absolute*/
    left: 4px;
    top: 100%;
    /*在谷歌可以输入css tricks shape 用来查找css画的各种形状代码*/
}
.userCard .picture{
    float: left;
    margin-right: 65px;
}
.userCard .text{
    float: left;
    /* margin-left: 65px; */
    width: 475px;

}
.userCard .text h1{
    margin-top:18px;
}
.userCard .text hr{
    margin:20px 0;
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard dl dt,.userCard dl dd{
    float: left;
    /* width: 50%; */
    padding: 5px 0;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold; /*字体 加粗*/
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7; 
}
.userCard .tubiao > footer.media{
    background: #E6686A;
    text-align: center;
}
.userCard .tubiao > footer.media > a{
    /* border: 1px solid black; */
    display: inline-block; /*完全包住标签*/
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%; /*标签方形变圆*/ 
    margin: 16px;
}
.userCard .tubiao > footer.media > a:hover{
    /*hover 背景色*/
    background: #CF5D5F;
}
/* .userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 16px;
    vertical-align: top;
} */
.userCard .tubiao img{
    width: 30px;
    height: 30px;
    /* fill: white; */
    /* margin: 0 16px; */
    vertical-align: top;
}
